
* {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/* render html5 elements as block 
   rendert html5 elemente als block  */

header, footer, section, aside, nav, article { display: block;}

body {
background-color: #ccc;
font-size: 0.95em;
font-family: Arial, SunSans-Regular, Sans-Serif;
color:#564b47;
}
pre, code {
font-size: 1.3em;
}
a {color: #DB7093;}
a:visited {color:#DB7093;}
a:hover {color: #564b47;}
a:active { color:#000000;}

h1, h2 {
font-size:1.8em;
font-weight: normal;
margin: 0 0 20px;
}

img.download {vertical-align:middle;}

/* ----------container zentriert das layout-------------- */
#container {
max-width: 1200px;
min-width:960px;
margin:10px  auto;
background-color: #eee;
}

/* ----------header for logo-------------- */
header {
	padding:20px;
	background:#ccc ;
}
	
header p{
	text-transform:uppercase;
	font-size:11px;

}
header img{ padding: 0 0 10px;}

/* ----------------- content--------------------- */
section#content {
	background-color: #ffffff;
	margin: 0 250px;
	min-height:600px;
	padding:20px;
}
#divrund {
    border: 2px solid #a1a1a1;
    padding: 10px 20px; 
    background: #dddddd;
    border-radius: 25px;
}
#left{float:left;width:200px;}
#right{margin-left:250px;}


p, pre{
padding:  0 0 20px;
line-height:1.5em;
}

/* -------------- navigavtion------------- */
nav {
float: left;
width: 250px;
padding:20px;
}
/* -------------- side infos ------------- */
aside{
float: right;
width: 250px;
padding:20px;
}
/* -----------footer--------------------------- */
footer {
padding:20px;
clear: both;
border-top:5px solid #ccc;
}


